<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{list}}_{{gro}}_{{idlo}}~{{idup}}</title>
<link rel="stylesheet" type="text/css" href="css/css.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
<link rel="stylesheet" type="text/css" href="css/toastr.min.css">
<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
<!-- <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"> -->


<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="js/toastr.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/js_addfunction.js"></script>
<script type="text/javascript" src="js/js.js"></script>
<script type="text/javascript" src="js/mixitup/jquery.mixitup.min.js"></script>

</head>

<body onkeyup="whichButton(event)">
<script type="text/javascript">
initialforwdlist();

function whichButton(event)
{
	if(event.keyCode==83)
	{
		//alert("s");
		$("#showall").click();
	}
	else if(event.keyCode==82)
	{
		//alert("r");
		$("#rev").click();
	}
	else if(event.keyCode==71)
	{
		//alert("g");
		$("#gotoexam").click();
	}
	else if(event.keyCode==85)
	{
		//alert("u");
		$("#undo").click();
	}	
	else if(event.keyCode==80)
	{
		//alert("p");
		$("#printcard").click();
	}	
	else if(event.keyCode==88)
	{
		//alert("x");
		$("#xiaomiversion").click();
	}	
	else if(event.keyCode==77)
	{
		//alert("m");
		$("#manconsole").click();
	}	
	else if(event.keyCode==13)
	{
		//alert("Enter");
		$("#formsubmit").click();
	}
	else if(event.keyCode==67)
	{
		//alert("c");
		$("#buttonchitoeng").click();
	}	
	else if(event.keyCode==76)
	{
		//alert("l");
		$("#buttonlastrevword").click();
	}	
	else if(event.keyCode==78)
	{
		//alert("n");
		$("#buttonlooknextword").click();
	}
	else if(event.keyCode==84)
	{
		//alert("t");
		$("#showstatis").click();
	}
//	else{alert(event.keyCode)}

	
}
</script>

<div class="control-bar row">
	<div class="cl-xs-8 col-md-5">
		<label>Filter:</label>
		<button class="filter controlbtn" data-filter="all">All</button>
		<button class="filter controlbtn" data-filter=".category-common">Com</button>
		<button class="filter controlbtn" data-filter=".category-imp">Imp</button>
		<button class="filter controlbtn" data-filter=".category-mfl">Mfl</button>
		<button class="filter controlbtn" data-filter=".category-inv">Inv</button>
	</div>
	<div class="cl-xs-4 col-md-5" onclick="mdclearfix()">
		<label>Sort:</label>
		<button class="sort controlbtn" data-sort="random">Random</button>
		<button class="sort controlbtn" data-sort="myorder:asc">Asc</button>
		<button class="sort controlbtn" data-sort="myorder:desc">Desc</button>
		<button class="btn banneraddbutton" onclick="changetolist()" style="padding: 0px 5px;"><i class="glyphicon glyphicon-th-list" style="margin-top: 3px;"></i></button>
		<button id="ToggleConfig" class="btn toggle-config config-open banneraddbutton"  style="padding: 0px 5px;"><i class="glyphicon glyphicon-cog" style="margin-top: 3px;"></i></button>
	</div>
	<div class="cl-xs-12 col-md-8">
		<form name="form1" id="form1" method="GET">
			<span class="banner" style="width=100px">
				List:
				<select id="formlist" name="list" style="width: 119px;">
					<option  {% if list == 'imp' %} selected="selected" {% endif %} >imp</option>
					<option  {% if list =='i_mfl'%} selected="selected" {% endif %} >i_mfl</option>
					<option  {% if list =='i_ivt'%} selected="selected" {% endif %} >i_ivt</option>
					<option  {% if list =='test'%} selected="selected" {% endif %} >test</option>
					<option  {% if list =="wordlist"%} selected="selected" {% endif %} >wordlist</option>
					<option {% if list =='recent1'%} selected="selected" {% endif %} >recent1</option>
					<option {% if list =='wordlisttoefl1'%} selected="selected" {% endif %} >wordlisttoefl1</option>
					<option {% if list =='wordlisttoefl2'%} selected="selected" {% endif %} >wordlisttoefl2</option>
					<option {% if list =='wordlisttoefl3'%} selected="selected" {% endif %} >wordlisttoefl3</option>
					<option {% if list =='wordlisttoefl4'%} selected="selected" {% endif %} >wordlisttoefl4</option>
					<option {% if list =='gre'%} selected="selected" {% endif %} >gre</option>
					<option {% if list =='six_1'%} selected="selected" {% endif %} >six_1</option>
					<option {% if list =='six'%} selected="selected" {% endif %} >six</option>
					<option {% if list =='four'%} selected="selected" {% endif %} >four</option>
					<option {% if list =='toefl'%} selected="selected" {% endif %} >toefl</option>
					<option {% if list =='ielts'%} selected="selected" {% endif %} >ielts</option>
				</select>
				&nbsp;
				Group:
				<select id="formgro" name="gro">
					<option {% if gro == 0 %} selected="selected" {% endif %}>0</option>
					<option {% if gro == 1 %} selected="selected" {% endif %}>1</option>
					<option {% if gro == 2 %} selected="selected" {% endif %}>2</option>
					<option {% if gro == 3 %} selected="selected" {% endif %}>3</option>
					<option {% if gro == 4 %} selected="selected" {% endif %}>4</option>
					<option {% if gro == 5 %} selected="selected" {% endif %}>5</option>
				</select>
				&nbsp;
				Idfrom:
				<select name="idlo">
					{% if idlo-400 >= 0 %}<option>{{idup-400}}</option>{% endif %}
					{% if idlo-300 >= 0 %}<option>{{idup-300}}</option>{% endif %}
					{% if idlo-200 >= 0 %}<option>{{idup-200}}</option>{% endif %}
					{% if idlo-100 >= 0 %}<option>{{idup-100}}</option>{% endif %}
					<option selected="selected">{{idlo}}</option>
					<option>{{idlo+100}} </option>
					<option>{{idlo+200}} </option>
					<option>{{idlo+300}} </option>
					<option>{{idlo+400}} </option>
				</select>
				&nbsp;
				to:
				<select name="idup">
					{% if idup-400 >= 0 %}<option>{{idup-400}}</option>{% endif %}
					{% if idup-300 >= 0 %}<option>{{idup-300}}</option>{% endif %}
					{% if idup-200 >= 0 %}<option>{{idup-200}}</option>{% endif %}
					{% if idup-100 >= 0 %}<option>{{idup-100}}</option>{% endif %}
					<option selected="selected">{{idup}}</option>
					<option>{{idup+100}} </option>
					<option>{{idup+200}} </option>
					<option>{{idup+300}} </option>
					<option>{{idup+400}} </option>
				</select>
				<input id="formsubmit" type="submit" value="检索" />
			</span>
		</form>
	</div>
	<div class="cl-xs-10 col-md-3 banner">
		<span id="reviewmodespan"></span>
		<span id="chitoengmodespan"></span>
	</div>
	<div class="cl-xs-2 col-md-1 banner" style="padding-top: 8px;">
		<i class="visible-xs visible-sm glyphicon glyphicon-phone"></i>
		<i class="visible-md fa fa-android"></i>
		<i class="visible-lg fa fa-windows"></i>
        
	</div>
</div>

<div id="Container" class="sandbox">
  	<div class="row">
		{% for item in wdlistarr %}
			<div class="col-xs-6 col-md-4 col-lg-3 mix{% if item.eng in implist %} category-imp{% endif %}{% if item.eng in mfllist %} category-mfl{% endif %}{% if item.eng in ivtlist %} category-ivt{% endif %}{% if item.eng not in impalllist %} category-common{% endif %}" data-myorder={{item.id}}>
				<div id="wddiv{{item.id}}" class="divgrid" border="0" data-source="{{item.jsondata}}" chi="{{item.chi}}" eng="{{item.eng}}" rec="{{item.rec}}" gro="{{item.gro}}">  
					<div class="wdeng" id="wd{{item.id}}" align="center" valign="middle" onclick="lookwd({{item.id}},'{{item.chi}}','{{item.eng}}',{{item.curnum}})">{{item.id}}&nbsp;&nbsp;&nbsp;{{item.eng}}
					</div>
					<div class="recdiv" height="40" colspan="2" align="center" valign="middle"><span class="recspan">{{item.gro}}&nbsp;{{item.rec}}&nbsp;</span><a href="http://dict.cn/{{item.eng}}" target="_blank"><i class="glyphicon glyphicon-book"></i></a>&nbsp;<i class="glyphicon glyphicon-play" onclick="findsound('{{item.eng}}')"></i></a>&nbsp;<i class="glyphicon glyphicon-{% if item.eng in impalllist %}star{% else %}plus{% endif %}" id="implabel{{item.id}}" onclick="impspancontrol({{item.id}})"></i><span id="impspan{{item.id}}" class="impspan" style="display:none"><i class="{% if item.eng in implist %}remove{% else %}add{% endif %}imp" onclick="impadjust({{item.id}},'imp')">I</i><i class="{% if item.eng in mfllist %}remove{% else %}add{% endif %}mfl" onclick="impadjust({{item.id}},'mfl')">M</i><i class="{% if item.eng in ivtlist %}remove{% else %}add{% endif %}ivt" onclick="impadjust({{item.id}},'ivt')">V</i></span>
					</div>
					<div id="bt{{item.id}}" height="20" class="updowndiv">
						<span class="glyphicon glyphicon-chevron-up arrowp" onclick="postu({{item.id}},'{{list}}','{{item.eng}}','{{item.chi}}','{{item.gro}}')"></span>
						&nbsp;&nbsp;
						<span class="glyphicon glyphicon-remove arrowp" onclick="removeword({{item.id}})"></span>
						&nbsp;&nbsp;
						<span class="glyphicon glyphicon-chevron-down arrowp" onclick="postd({{item.id}},'{{list}}','{{item.eng}}','{{item.chi}}','{{item.gro}}')"></span>
					</div>
			 	</div>  
			</div>
			{% if item.curnum%4==3 %}
			<div class="clearfix visible-lg"></div>
			{% endif %}
			{% if item.curnum%3==2 %}
			<div class="clearfix visible-md"></div>
			{% endif %}
		{% endfor %}
	</div>
</div>
<p class="menu">
  total number:<span id="totnum">{{totalnum}}</span>/<span id="allgronum"></span>
  &nbsp;&nbsp;
  Remote_address:{{Remote_address}};
  Ip:{{ipaddress}}
</p>
<div class="row control-foot">
	<div class="col-xs-12 col-lg-7">
		<button id="undo" class="btn btn-danger" style="opacity: 0.3;" onclick="undo('{{list}}','default')" disabled="disabled">  Undo(U)  </button>
		&nbsp;&nbsp;  
		<button id="rev" class="btn btn-success" onclick="revall()">Review(R)</button>
		&nbsp;&nbsp;    
		<button id="showall" class="btn btn-success" onclick="showall({{idlo}},{{idup}})">Show_all(S)</button>
		&nbsp;&nbsp;    
		<button id="buttonchitoeng" class="btn btn-success" onclick="funchitoeng()">Chi->eng(C)</button>
		&nbsp;&nbsp;    
		<a href="exam.php?list={{list}}&amp;gro={{gro}}&amp;idlo={{idlo}}&amp;idup={{idup}}"><button id="gotoexam" class="btn btn-warning">Go->exam(G)</button></a>
		&nbsp;&nbsp;  
		<a href="outputtocard.php?list={{list}}&amp;gro={{gro}}&amp;idlo={{idlo}}&amp;idup={{idup}}"><button id="printcard" class="btn btn-primary">Print_cards(P)</button></a>
		
	</div>
	<div class="col-xs-12 col-lg-5">
		<button id="manconsole" class="btn btn-warning" onclick="manconsole('{{list}}')">Man_Console(M)</button>
		&nbsp;&nbsp;  
		<button id="buttonlastrevword" class="btn btn-primary" onclick="funlastreviewwords()">Last_wd(L)</button>
		&nbsp;&nbsp;  
		<button id="buttonlooknextword" class="btn btn-primary" onclick="looknextword()">Next_wd(N)</button>
		&nbsp;&nbsp;  
		<button id="showstatis" class="btn btn-primary" onclick="showstatis()">showsts(T)</button>
	</div>
</div>

<div class="progress">
  <div class="progress-bar progress-bar-danger progress-bar-striped{% if gro == 1 %} active{% endif %}" id="gro1probar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
    0%
  </div>
  <div class="progress-bar progress-bar-warning progress-bar-striped{% if gro == 2 %} active{% endif %}" id="gro1probar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
    0%
  </div>
  <div class="progress-bar progress-bar-info progress-bar-striped{% if gro == 3 %} active{% endif %}" id="gro1probar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
    0%
  </div>
  <div class="progress-bar progress-bar-primary progress-bar-striped{% if gro == 4 %} active{% endif %}" id="gro1probar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
    0%
  </div>
  <div class="progress-bar progress-bar-success progress-bar-striped{% if gro == 5 %} active{% endif %}" id="gro1probar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
    0%
  </div>
</div>

<div class="row control-foot">
	<div class="col-md-2 col-xs-3">
		 <a class="menu" href="twig.php?list={{list}}&gro={{gro-1}}&idlo={{idlo}}&idup={{idup}}">last_group </a>
	 </div>
 	<div class="col-md-2 col-xs-3">
		<a class="menu" href="twig.php?list={{list}}&gro={{gro+1}}&idlo={{idlo}}&idup={{idup}}">next_group </a>
	</div>
	<div class="col-md-2 col-xs-3">
		<a class="menu" href="twig.php?list={{list}}&amp;gro={{gro}}&amp;idlo={{idlo-100}}&amp;idup={{idup-100}}">last_list </a>
  	</div>
  	<div class="col-md-2 col-xs-3">
		<a class="menu" href="twig.php?list={{list}}&amp;gro={{gro}}&amp;idlo={{idlo+100}}&amp;idup={{idup+100}}">next_list </a> 
	</div>
  	<div class="col-md-4 col-xs-6">
  		<a class="menu" href="Index.html">return</a>
  	</div>
</div>



<script type="text/javascript">
if(localStorage.getItem("rev")=="1")
	$("#reviewmodespan").append("Review ");
//movable div
var $j=function(id){return document.getElementById(id);};
var getMouseP=function (e){
	//获取鼠标坐标 请传递evnet参数
	e = e || window.event;
	var m=(e.pageX || e.pageY)?{ x:e.pageX, y:e.pageY } : { x:e.clientX + document.body.scrollLeft - document.body.clientLeft, y:e.clientY + document.body.scrollTop  - document.body.clientTop };
	return m;
};
    
move=function(o,t){
	o=$j(o);
	t=$j(t);
	o.onmousedown=function(ev){
	
		var mxy=getMouseP(ev);//获取当前鼠标坐标
		var by={x:mxy.x-(t.offsetLeft),y:mxy.y-(t.offsetTop)};
		o.style.cursor="move";
		document.onmousemove=function(ev){
			var mxy=getMouseP(ev);
			t.style.left=mxy.x-by.x+"px";
			t.style.top=mxy.y-by.y+"px";
			t.style.opacity="0.8";
		};
		document.onmouseup=function(){
			//window.getSelection ? window.getSelection().removeAllRanges() : document.selection.empty();
			this.onmousemove=null;
			t.style.opacity="1";
		}
	}
}

// ]]>
function renewstatic(){
$.ajax({url: "briefsta.php?list={{list}}&idlo={{idlo}}&idup={{idup}}",
			success: function (r){
				stadata=JSON.parse(r);
				stadata[4]=(100-parseFloat(stadata[0].slice(0,-1))-parseFloat(stadata[1].slice(0,-1))-parseFloat(stadata[2].slice(0,-1))-parseFloat(stadata[3].slice(0,-1))).toFixed(1)+"%";
				for(pbi=0;pbi<5;pbi++){
					$(".progress-bar").eq(pbi).attr("aria-valuenow",stadata[pbi].slice(0,-1));
					$(".progress-bar").eq(pbi).html(stadata[pbi]);
					$(".progress-bar").eq(pbi).css("width",stadata[pbi]);
				}
				$("#allgronum").html(stadata[5]);
			}
		});
}
$(function(){
	$('#Container').mixItUp();
	renewstatic();
	$(".progress").click(function(){renewstatic()});
});

</script>
</body>
</html>
