/* CSS Document */
body {
	
}
#total{
//height:980px;
width:1413px;
}
div.examdiv{
	//position:absolute;
	//top:50px;
	background-color:#CCFFFF;
	font-size:40px;
}
tr.nali{
height:50px;
font-size:18px;
}
.menu{
font-size:25px;
font-weight:900;
}

#banner{
font-size:30px;
background:#FFFF99;
color:#0000FF;
}

#examswitchbar{

}
#impselect{
height:300px;
height:200px;
position:absolute;
left:50%;
margin-left:-150px;
background-color:#CCFFFF;
text-align:center;
vertical-align:text-bottom;
}
.adddiv{
border:thick;
border-bottom-color:#000000;
border-style:ridge;
position:absolute;
background-color:#FFFFCC;
text-align:center;
border:2px solid #a1a1a1;
border-radius:5px;
}
#manconsolediv{
width:800px;
height:200px;
position:absolute;
/*left:50%;
top:50%;
margin-left:-400px;*/
opacity:1;
background-color:#FFFFFF;
text-align:center;
vertical-align:text-bottom;
border:2px solid #a1a1a1;
border-radius:5px;
}
input,select,button{
height:70px;
font-size:40px;
}
select{
width:180px;
}

#listadjust{
font-size:45px;
}
#examwd{
font-size:50px;
}